//@import "../../css-config/mixins.scss";

.product-card{
    width: calc(25% - 15px);
    margin-bottom: 20px;
}



.product-image{
    max-width:150px;
    max-height: 250px;
    margin-top: 0%;
    margin-right:0%;
    margin-left:0%;
    margin-bottom:0%;
}

.thumbnail{
    height:180px;
    background-color: rgba(0,0,0,0.05);
    margin-bottom: 10px;
    padding:25px;
    display: flex;
    align-items: center;
    height: 350px;

    img{
        transition: all ease 0.3s;
        display:block;
        width: 100%;
        margin-left: 40px;
    }
}

.prod-details{
    .name{
        font-size:16px;
        display:block;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow:hidden;
        margin-bottom: 10px;

    }
    .price{
        font-size:24px;
    }

    &:hover{
        .thumbnail{
            img{
                transform: scale(1.2) ;
            }
        }
    }
}
