* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Cabin", sans-serif;
}
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
}

// NAV
.custom-nav .collapse{
  justify-content: flex-end;
}

//login
.login {
  min-height: 100vh;
  align-items: center;
}

.login h6{
  margin-top: 15px;
}

//logout

//registration
.register {
  min-height: 100vh;
  align-items: center;
}
