.category-main-content {
    margin: 75px 0;
    .layout {
        max-width: 1200px;
        margin: 0 auto;
    }
    .category-title {
        font-size: 34px;
    }
    .product-container {
        margin: 50px 0;
    }
}