.home{
    height: 2000px;
    padding-top:61px;
}

.banner{
    width: 1440px;
}

.sec-heading{
    margin-top: 30px;
    margin-bottom: 35px;
    font-size: 24px;
    font-weight: 500;
    text-transform: uppercase;

    &:after{
        content: "";
        display: block;
        margin-top: 10px;
        width: 50px;
        height: 3px;
        background-color: purple;
    }
}

.titles{
    font-size: 30px;
    font-weight: 500;
    text-transform: uppercase;
    .horrors{
        margin-left: 100px;
        margin-right: 230px
    }
    .mystery{
        margin-left: 200px;
        margin-right: 170px;
    }
}